@font-face {
  font-family: title;
  src: url(fonts/DelightBold.otf);
}
@font-face {
  font-family: p;
  src: url(fonts/Brutel-Medium.otf);
}
.App{
  background-color: #171717;
}
.page{
  background-image: radial-gradient(#3f43bf6a, #171717);
  min-height: 100vh;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
}
.content{
  text-align: center;
  justify-content: center;
  max-width: 1500px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}
button{
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.151);
  border-width: 0;
  color: #fff;
  font-family: p;
  font-size: 16px;
  position: relative;
  transition: 0.2s;
  box-shadow: 0 0 0px #ffffff25;
}
button:hover{
  background-color: rgba(255, 255, 255, 0.294);
  box-shadow: 0 0 40px #ffffff25;

}
header .content{
  display: flex;
  justify-content: space-between;
}
header .title{
  font-family: title;
  text-align: left;
  padding: 20px;
  padding-top: 40px;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 20px #fff;
}
header .options{
  padding: 20px;
  padding-top: 33px;
}
header .options .howtoplay{
  margin-left: 10px;
}
.gameboard{
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  padding-bottom: 50px;
}
.gameboard table{
  z-index: 100;
  width:80vw;
  height:80vw;
  margin: auto;
  border-radius: 10px;
  table-layout: fixed;
  color: white;
  font-family: title;
  text-transform: uppercase;
}
.gameboard table th{
  position: relative;
  border-radius: 10px;
  transition: 0.1s;
  background-color: #ffffff2e;
  text-shadow: 0 0 20px #ffffff65;
  text-align: center;
  font-size: 6vw;
  /* animation: pulsing 2s ease-in-out infinite */
}
.gameboard table th:hover{
  box-shadow: 0 0 40px #ffffff25;
}
@keyframes pulsing {
  0% { background-color: #ffffff2e; }
  50%  { background-color: #ffffff48; }
  100%   { background-color: #ffffff2e; }   
}
@media(min-width: 1000px){
  .gameboard table{
    height: 600px;
    width: 600px;
  }
  .gameboard table th{
    font-size: 40px;
  }
}
.gameover{
  text-transform: uppercase;
  font-family: title;
  text-align: center;
  padding: 40px;
  padding-bottom: 0;
  color: white;
  text-shadow: 0 0 20px #fff;
  transition: 0.2s;
  visibility: hidden;
  background: transparent;
  position: relative;
}
.gameover h1{
  font-size: 50px;
}
.gameover h2{
  padding-top: 20px;
  font-size: 30px;
}
.runtime{
  color: #fff;
  padding: 20px;
  padding-bottom: 30px;
  font-family: p;
  text-shadow: 0 0 20px #fff;
  transition: 0.2s;
  text-transform: capitalize;
}
.buttons button{
  margin-left: 5px;
  margin-right: 5px;
}
footer p{
  font-family: p;
  padding: 10px;
}
footer{
  text-align: center;
  padding: 40px;
  color: white;
}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  text-decoration: underline;
}